<div class="card">
  <div class="card-header">
    {{title}} <span class="text-right">by {{user.username}} on {{created_at}}</span>
  </div>
  <div class="card-body">
    <p class="card-text">{{post_text}}</p>
  </div>
</div>